html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/download/css/bootstrap.min.css')
        link(rel='stylesheet', href="/profile.css", type='text/css')
        title Home
    body  
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
            a.navbar-brand(href='/profile')
                h3 Bloggy
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='/profile') Hello,
                            strong  #{username} 
                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | More
                        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='/profile/update') Update Profile
                            a.dropdown-item(href='/logout') Log out

        .container.mt-3
            button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
                | New Post
        #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Create a New Blog
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        form(method='POST',action='/create',enctype="multipart/form-data")
                            .form-group
                                .input-group.mb-3.mt-3
                                        .input-group-prepend
                                            span#inputGroup-sizing-default.input-group-text Name: 
                                        input.form-control(type='text',name='title', aria-label='Default', aria-describedby='inputGroup-sizing-default',id='articleName',required)
                            .form-group
                                .input-group
                                    .input-group-prepend
                                    textarea.form-control(aria-label='With textarea',placeholder='Write something interesting...',rows=20,id='articleBody',name='articleBody',required)
                            .form-group
                                .input-group.mb-3.mt-3
                                    .input-group-prepend
                                        span#basic-addon1.input-group-text Image
                                    input.form-control(type='file', aria-label='Username',name="photo" aria-describedby='basic-addon1')
                            .modal-footer
                                button.btn.btn-danger(type='reset', data-dismiss='modal') Close
                                button.btn.btn-primary(type='submit') Create
        .container
        if data
            
            each post in userPosts
                -var index = Math.random()
                .card(style='width: 18rem;')
                    img.card-img-top(src=post.image.substring(post.image.indexOf("/posts")), alt='...')
                    .card-body
                        h5.card-title #{post.title}
                        p.card-text
                        | #{post.postBody}
                        button.btn.btn-primary(type='button', data-toggle='modal', data-target='#' + index)
                            | Read More
                        div(id=index,tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true').modal.fade
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        h5.card-title #{post.title}
                                        br
                                        span
                                        br
                                        | posted on- #{post.createdOn}
                                        img.card-img-top(src=post.image.substring(post.image.indexOf("/posts")), alt='...')
                                    .modal-body
                                        p.card-text
                                            | #{post.postBody}
                                    .modal-footer
                                        button.btn.btn-danger(type='reset', data-dismiss='modal') Close
                                        button.btn.btn-primary(type='button') Delete
                br
                        
                    











        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
        script(src='/download/js/bootstrap.min.js')
        script(src="/post.js")
        

        
        